﻿<table class="table table-hover">
    <thead>
        <tr>
            <th>Температура</th>
            <th>Заполненность</th>
            <th>Время</th>
            <th>UserAgent</th>
            <th>IP-адрес</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: records">
        <tr>
            <td data-bind="text: temperature"></td>
            <td data-bind="text: space"></td>
            <td data-bind="text: dateTime"></td>
            <td data-bind="text: userAgent"></td>
            <td data-bind="text: userHostAddress"></td>
        </tr>
    </tbody>
</table>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/model")